---
layout: default
---

<div class="bg-white border-b shadow-sm py-4">
    <div class="container">
        <section class="my-6 sm:my-8 md:my-9 lg:my-10">
            <p class="sm:text-xl">I'm Joren Van Hee, a <strong>web developer</strong> from Belgium. I build <strong>websites</strong> and <strong>applications</strong>. I play the drums 🥁 and I'm currently giving the bass guitar 🎸 a try.</p>
        </section>
    </div>
</div>

<div class="container mb-10">
    {% if site.posts.size > 0 %}
        <h2 class="t-beta">Articles</h2>

        <ul class="list-reset">
            {% for post in site.posts %}
                <li><a href="{{ post.url }}" class="anchor">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if site.projects.size > 0 %}
        <h2 class="t-beta">Projects</h2>

        <ul class="list-reset">
            {% for project in site.projects %}
                <li><a href="{{ project.external.url }}" class="anchor">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}   
</div>
