.highlight code,
.highlight.highlight--standalone {
    @apply
        .block .mb-6 .-mx-4 .p-4
        .border-t .border-b .border-grey-light
        .bg-white .shadow-sm .font-mono;

    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    @screen md {
        @apply .rounded-sm .border;

        margin-left: calc(var(--container-padding) * -0.5);
        margin-right: calc(var(--container-padding) * -0.5);
        padding-left: calc(var(--container-padding) * 0.5);
        padding-right: calc(var(--container-padding) * 0.5);
    }
}

.highlight code {
    @apply .overflow-auto;
}
